In [1]:
SELECT TOP 3 e.FirstName + ' ' + e.LastName AS [Full Name], e.City,
SUM(od.Quantity * od.UnitPrice) as [Total Sale],
ROUND(SUM(od.Quantity * od.UnitPrice)* .02, 0) AS [Bonus]
FROM
Employees e
INNER JOIN
Orders o
ON e.EmployeeID = o.EmployeeID
INNER JOIN
[Order Details] od
ON o.OrderID = od.OrderID
WHERE YEAR(o.OrderDate) = '2018' AND MONTH(o.OrderDate) ='1'
GROUP BY e.FirstName + ' ' + e.LastName, e.City
ORDER BY [Total Sale] DESC

Full Name,City,Total Sale,Bonus
Janet Leverling,Kirkland,27833.3500,557.000000
Margaret Peacock,Redmond,21029.3000,421.000000
Steven Buchanan,London,12280.5000,246.000000

In [2]:
SELECT Title, City, COUNT(Title) AS [Number of Employees] FROM Employees GROUP BY Title, City

Title,City,Number of Employees
Sales Representative,Kirkland,1
Sales Manager,London,1
Sales Representative,London,3
Sales Representative,Redmond,1
Inside Sales Coordinator,Seattle,1
Sales Representative,Seattle,1
"Vice President, Sales",Tacoma,1

In [3]:
SELECT Lastname, Firstname, Title, DATEDIFF(YEAR, HireDate, GETDATE()) AS [Work Years in the Company]
FROM Employees
WHERE City = 'London'

Lastname,Firstname,Title,Work Years in the Company
Buchanan,Steven,Sales Manager,27
Suyama,Michael,Sales Representative,27
King,Robert,Sales Representative,26
Dodsworth,Anne,Sales Representative,26

In [4]:
SELECT Lastname, Firstname, Title, DATEDIFF(YEAR, BirthDate, GETDATE()) AS [Age] FROM Employees
WHERE DATEDIFF(YEAR, BirthDate, GETDATE()) >= 70

Lastname,Firstname,Title,Age
Davolio,Nancy,Sales Representative,72
Peacock,Margaret,Sales Representative,83